<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">

    <resultMap type="Cart" id="resultCart">
        <id property="cart_seq_id" column="cart_seq_id" />
        <result property="user_email" column="user_email" />
        <result property="product_seq_id" column="product_seq_id" />
        <result property="price" column="price" />
        <result property="amount" column="amount" />
    </resultMap>

    <resultMap id="resultCartWithProductInfo" type="Cart" extends="resultCart">
        <association property="product" javaType="Product">
            <id column="product_seq_id" property="product_seq_id" />
            <result column="product_name" property="product_name" />
            <result column="product_price" property="product_price" />
            <result column="rename_filepath" property="rename_filepath" />
        </association>
    </resultMap>

    <!-- 장바구니에 상품 추가 (Add product to cart) -->
    <insert id="addToCart" parameterType="Cart">
        INSERT INTO CART (CART_SEQ_ID, USER_EMAIL, PRODUCT_SEQ_ID, AMOUNT, PRICE)
        VALUES (cart_seq_id.NEXTVAL, #{user_email}, #{product_seq_id}, #{amount}, #{price})
    </insert>

    <!-- 로그인한 사용자의 장바구니 목록 조회 (Retrieve the cart list of the logged-in user) -->
    <select id="getCartList" resultType="Cart">
        SELECT * FROM CART WHERE USER_EMAIL = #{user_email}
    </select>

    <!-- 장바구니 상품 수량 수정 (Update the quantity of a product in the cart) -->
    <update id="updateCartItem">
        UPDATE CART SET AMOUNT = #{amount} WHERE CART_SEQ_ID = #{cart_seq_id}
    </update>

    <!-- 장바구니 상품 삭제 (Delete a product from the cart) -->
    <delete id="removeCartItem">
        DELETE FROM CART WHERE CART_SEQ_ID = #{cart_seq_id}
    </delete>

    <select id="getCartListWithProductInfo" resultMap="resultCartWithProductInfo">
        SELECT c.*, p.product_name, p.product_price, p.rename_filepath
        FROM cart c
                 INNER JOIN product p ON c.product_seq_id = p.product_seq_id
        WHERE c.user_email = #{user_email}
    </select>

</mapper>