<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ordersMapper">

	<select id="selectOrders" parameterType="string">
		SELECT product_name 상품이름 , client_name 판매자상호명 ,  price 가격 count 주문 수량 , amount 총 가격
		FROM orders join product using (product_seq_id)
		product join client using (business_number);
		WHERE user_email = #{ user_email }
	</select>
</mapper>