<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsersMapper">

	<!-- select 한 결과집합 ResultSet 에서 한 행씩 꺼내서 
	각 컬럼값들을 vo 객체의 각 필드에 저장 처리하는 작업
	: 결과 매핑
	리스트나 맵에 여러 객체를 저장 처리도 포함됨 -->
	<!--<resultMap type="Users" id="resultUsers">
		<id property="user_email" column="user_email" />
		<result property="user_password" column="user_password" />
		<result property="user_name" column="user_name" />
		<result property="user_phone" column="user_phone" />
		<result property="create_at" column="create_at" />
		<result property="modified_at" column="modified_at" />
		<result property="login_ok" column="login_ok" />
		<result property="admin_ok" column="admin_ok" />
		<result property="user_allergy" column="user_allergy" />
	</resultMap>-->

	<!-- 로그인 처리용 -->
	<select id="selectLogin" parameterType="Users" resultType="Users">
		select * from users
		where user_email = #{ user_email } and user_password = #{ user_password }

	</select>
	
<!--	&lt;!&ndash; 아이디로 회원 정보 조회용 &ndash;&gt;-->
	<select id="selectUsers" parameterType="string"
		resultType="Users">
		select * from users
		where user_email = #{ user_email }
	</select>
	
<!--	&lt;!&ndash; 회원가입시 아이디 중복 체크 처리용 &ndash;&gt;-->
<!--	<select id="selectDupCheckId" parameterType="string" resultType="_int">-->
<!--		select count(user_email) from users-->
<!--		where user_email = #{ uid }-->
<!--	</select>-->
<!--	-->
<!--	&lt;!&ndash; 회원 전체 조회용 &ndash;&gt;-->
<!--	<select id="selectList" resultMap="resultUsers">-->
<!--		select * from users-->
<!--	</select>-->
<!--	-->
<!--	&lt;!&ndash; 회원 가입 처리용 &ndash;&gt;-->
<!--	<insert id="insertUsers" parameterType="Users">
		insert into users (user_email, user_password, user_name,
			    user_phone, create_at
				 , is_admin, user_allergy)
		values (#{ user_email }, #{ user_pwd }, #{ user_name },
			    #{ user_phone }, sysdate, default,
			    null)
	</insert>-->
<!--	user_email         VARCHAR(255)   NOT NULL,-->
<!--	is_admin           CHAR(1)        DEFAULT 'N' NOT NULL,-->
<!--	user_password      VARCHAR2(1000) NOT NULL,-->
<!--	user_name          VARCHAR(20)   ,-->
<!--	user_nickname      VARCHAR2(60)      ,-->
<!--	user_phone         VARCHAR(20)   ,-->
<!--	create_at          TIMESTAMP      NOT NULL,-->
<!--	modified_at        TIMESTAMP      NOT NULL,-->
<!--	account_activation CHAR(1)        DEFAULT 'Y' NOT NULL,-->
<!--	user_allergy       VARCHAR2(1000),-->
<!--	user_profile_url-->

<!--	-->
<!--	&lt;!&ndash; 회원 탈퇴 처리용 &ndash;&gt;-->
<!--	<delete id="deleteUsers" parameterType="string">-->
<!--		delete from users-->
<!--		where user_email = #{ uid }-->
<!--	</delete>-->
<!--	-->
<!--	&lt;!&ndash; 회원 정보 수정 처리용 &ndash;&gt;-->
<!--	<update id="updateUsers" parameterType="Users">-->
<!--		update users-->
<!--		set user_pwd = #{ user_pwd }, -->
<!--			user_phone = #{ user_phone },-->
<!--			modifyed_at = sysdate-->
<!--		where user_email = #{ user_email }-->
<!--	</update>-->
<!--	-->
<!--	<update id="updateLoginok" parameterType="Users">-->
<!--		update users-->
<!--		set login_ok = #{ login_ok }-->
<!--		where user_email = #{ user_email }-->
<!--	</update>-->
<!--	-->
<!--	<update id="updateAdminAuth" parameterType="Users">-->
<!--		update users-->
<!--		set admin_ok = #{ admin_ok }-->
<!--		where user_email = #{ user_email }-->
<!--	</update>-->

<!--	-->
<!--	&lt;!&ndash; 검색용 select &ndash;&gt;-->
<!--	<select id="selectSearchUser_email" parameterType="string" resultMap="resultUsers">-->
<!--		select * from users-->
<!--		where user_email like '%' || #{ keyword } || '%'-->
<!--	</select>-->
<!--	-->
<!--	-->
<!--	<select id="selectSearchEnrollDate" parameterType="SearchDate" resultMap="resultUsers">-->
<!--		select * from users-->
<!--		where create_at between #{ begin } and #{ end }-->
<!--	</select>-->
<!--	-->
<!--	<select id="selectSearchLoginOK" parameterType="string" resultMap="resultUsers">-->
<!--		select * from users-->
<!--		where login_ok = #{ keyword }-->
<!--	</select>-->
<!--	-->
<!--	<select id="selectSearchAdminOK" parameterType="string" resultMap="resultUsers">-->
<!--		select * from users-->
<!--		where admin_ok = #{ keyword }-->
<!--	</select>-->

</mapper>





