<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<!-- 매퍼에서 사용할 vo 클래스에 대한 줄임말 선언 -->
	<typeAliases>		
		<typeAlias type="org.oaoc.cookology.users.model.vo.Users" alias="Users" />
		<typeAlias type="org.oaoc.cookology.common.SearchDate" alias="SearchDate" />
		<typeAlias type="org.oaoc.cookology.order.model.vo.Order" alias="Order" />
	</typeAliases>
	
	<!-- mapper : 실행할 쿼리문만 별도로 작성하는 파일을 말함 -->
	<mappers>
		<mapper resource="mappers/users-mapper.xml" />
		<mapper resource="mappers/order-mapper.xml" />
		
	</mappers>
</configuration>
